<%= render 'head' %>
<div class="container content">
  <div class="row">
    <div class="col-md-3 col-md-push-9">
      <div class="panel panel-default">
        <div class="list-group">
          <%= link_to_with_current("API overview", "/guides/" , class: "list-group-item" ) %>
          <%= link_to_with_current("Channel API support", "/guides/channel-api-support" , class: "list-group-item" ) %>
          <%= link_to_with_current("Getting Started", "/guides/getting-started/", class: "list-group-item") %>
          <%= link_to_with_current("Accounts synchronization", "/guides/accounts-synchronization/" , class: "list-group-item" ) %>
          <%= link_to_with_current("Rentals synchronization", "/guides/rentals-synchronization/" , class: "list-group-item" ) %>
          <%= link_to_with_current("Create a booking (payments on partner side)", "/guides/create-a-booking-payments-on-partner-side/" , class: "list-group-item" ) %>
          <%= link_to_with_current("Create a booking (payments on our side)", "/guides/create-a-booking-with-smily-payment-gateway/" ,
            class: "list-group-item" ) %>
          <%= link_to_with_current("Booking cancelation", "/guides/booking-cancelation/" , class: "list-group-item" ) %>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-md-pull-3">
      <div class="panel panel-default">
        <div class="panel-body guide-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'foot' %>
